{% extends "base.html" %}

{% block content %}

<form method='POST'>{% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary my-5">Submit</button>
    <a href="{% url 'account.detail' %}" class="btn btn-secondary my-5">Cancel</a>

</form>
{% if form.errors %}

<div class="alert alert-danger my-5">
    {% for field, errors in form.errors.items %}
        {% for error in errors %}
            <p>{{ error }}</p>
        {% endfor %}
    {% endfor %}
</div>

{% endif %}

{% endblock %}