{% extends "base.html" %}

{% block content %}

<h1 class="text-center">Approve/Reject Transaction</h1>

{% comment %} <h3>Are you sure you want to approve this transaction?</h3> {% endcomment %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Transaction ID</th>
            <th>Sender</th>
            <th>Receiver</th>
            <th>Amount</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ transaction.id }}</td>
            <td>{{ transaction.sender.user.username }}</td>
            <td>{{ transaction.receiver.user.username }}</td>
            <td>{{ transaction.amount }}</td>
            <td>{{ transaction.date }}</td>
        </tr>
    </tbody>
</table>

<form method="post">
    {% csrf_token %}
    {{ form.as_p}}
    <button type="submit" class="btn btn-primary my-5">Submit Changes</button>
    <a href="{% url 'approve.list' %}" class="btn btn-secondary my-5">Cancel</a>
</form>

{% endblock %}